* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4E1A1; /* Кремовий фон */
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-catalog {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 200px;
    margin-top: 20px;
    position: relative;
    transition: transform 0.3s ease;
}

.product {
    width: 100%;
    height: 200px;
    margin: 10px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.box {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.product.selected {
    border: 2px solid #FF7F32; /* Помаранчевий контур */
    transform: scale(1.05);
}

.box.active {
    background-color: #FF7F32;
    filter: brightness(0.8);
}

.stars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: yellow;
}

.form-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-popup input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:focus {
    outline: none;
}

.delivery-icon {
    display: none;
    position: absolute;
    bottom: 20px;
}

.delivery-icon.active {
    display: block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
